@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
    --corTextos: #462c1a;
    --corTexto2: #ffffff;
    --cor1: #704D34;
    --cor2: #AE9A63;
    --corPadrao: #fdf5e5;
    --cor4: #AD79AD;
    --cor5: #694369;
    --cor6: #614461;

    --font-Padrao: 'Open Sans', sans-serif;
    --font-Destaque: 'Great Vibes', cursive;
    --font-Titulos: 'Hind Siliguri', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

.pag1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    z-index: -1;
}

div.background-pag1 {
    width: 100%;
    height: 100vh;
    position: absolute;
}

div.background-pag1 video {    
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.box {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.103), rgba(255, 255, 255, 0.836));
    z-index: 1;
}

.titulo-pag1 {
    font-family: var(--font-Destaque);
    font-size: 7em;
    color: #b89e57;
    margin: 200px 100px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.39);
}

.texto-pag1 {
    font-family: var(--font-Padrao);
    font-size: 2.0em;
    font-weight: 500;
    color: var(--corTexto2);
    max-width: 600px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.418);
}

.pag2 {
    background-image: url('../imagens/stained-white-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 20px;
}

.pag2:hover {
    .div-texto2 {
        width: 700px;
        transition: 0.2s;
    }
}

.div-texto2:not(:hover) {
    width: 500px;
    transition: 0.4s;
}

.txt-oculto {
    display: none;
}

.div-texto2 {
    width: 500px;
    margin: auto;
}

.titulo-pag2 {
    font-size: 30px;
    font-family: var(--font-Titulos);
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--corTextos);
    padding: 20px;
    text-align: center;
    border-top: 2.5px solid var(--cor2);
    margin-top: 50px;
}

.titulo-pag2-sec {
    display: none;
}

.bloco-img-1 {
    display: flex;
    gap: 100px;
    margin-left: 10%;
    margin-right: 5%;
}

.imagens1-pag2 {
    columns: 2;
    width: 90%;
    gap: 100px;
    display: flex;
}

#img1 {
    background-image: url('../imagens/produto-cupcake.jpg');
}

#img2 {
    background-image: url('../imagens/produto-naked-cake.jpg');
}

#img3 {
    background-image: url('../imagens/produto-bolo-vulcao.jpg');
    background-position: center;
}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 15px 0px 25px 0px;
    background-color: darkcyan;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagem:hover {
    .txt-produtos {
        background-color: var(--cor1);
        color: var(--cor2);
        transition: 0.5s;
        letter-spacing: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.349);
    }

    #img1 {
        transform: scale(1.5);
    }
}

.imagem:not(:hover) {
    .txt-produtos {
        letter-spacing: 2px;
        transition: 0.4s;
    }
}

.imagem:hover {
    #bolo-encomendado {
        letter-spacing: 6px;
        text-indent: 0px;
    }

    #bolo-confeitado {
        letter-spacing: 10px;
        text-indent: 0px;
    }
}

.txt-produtos {
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    margin-left: -55px;
    /* margin-right: -35px; */
    border-radius: 5px 0px 0px 20px;
    background-color: #ffffffcc;
    color: var(--corTextos);
    font-family: var(--font-Titulos);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 50px;
}

#bolo-encomendado {
    text-align: center;
}

#bolo-confeitado {
    text-indent: 50px;
}

.bloco-img-2 {
    display: flex;
    gap: 100px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 60px;
}

.imagens2-pag2 {
    width: 90%;
    gap: 100px;
    display: flex;
}

#img4 {
    background-image: url('../imagens/fran_cakes-bolo-confeitado.jpeg');
}

#img5 {
    background-image: url('../imagens/fran_cakes-bolo-enconmendado.jpeg');
}

#img6 {
    background-image: url('../imagens/fran_cakes-torta.jpg');
    background-position: right;
}

.bloco-oculto {
    display: none;
}

.pag3 {     
    background-image: url('../imagens/torta-paralax.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pag3:hover {
    .titulo-pag3 {
        color: #f7e6b9;
        transition: 0.3s;
    }

    #txt-contato {
        color: #f7e6b9;
        transition: 0.3s;
    }
}

.pag3:not(:hover) {
    .titulo-pag3 {
        transition: 0.2s;
    }

    #txt-contato {
        transition: 0.2s;
    }
}

.titulo-pag3 {
    margin: auto;
    font-size: 55px;
    font-family: var(--font-Titulos);
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--cor2);
    padding: 20px;
    text-align: center;
}

#txt-contato {
    font-family: var(--font-Padrao);
    font-size: 2.0em;
    font-weight: 300;
    color: var(--cor2);
    text-wrap: balance;
    text-align: center;
    margin-top: 40px;
}

.conteudo-pag3 {
    background-color: #00000062;
}

.redes-sociais {
    text-align: center;
    padding-bottom: 50px;
}

div .img-contato {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(223, 221, 219, 0.671);
    border-radius: 100px;
    width: 100px;
}

#logo-whatsapp {
    margin-right: 100px;
}

#logo-whatsapp:hover {
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0px 0px 20px #f7e6b9;
}

#logo-whatsapp:not(:hover) {
    transition: 0.3s;
}

#logo-insta:hover {
    transform: scale(1.2);
    transition: 0.3s;
    box-shadow: 0px 0px 20px #f7e6b9;
}

#logo-insta:not(:hover) {
    transition: 0.3s;
}

footer {
    background-color: #e4cdbb;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-Padrao);
    color: var(--corTextos);
}

div.marca-engaja {
    text-align: center;
    margin-top: 20px;
}

.txt-footer {
    font-weight: bold;
    font-size: 17px;
    margin-top: 50px;
}

.lista-contato {
    list-style-type: none;
}

.contato {
    list-style-type: none;
    font-size: 20px;
}

.modo-contato {
    margin-top: 15px;
}

.txt-footer {
    position: absolute;
    background-color: #dfb99c;
    width: 100%;
    height: 25px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-footer{
    color: var(--corTextos);
    text-decoration: none;
    margin-left: 5px;
}

.link-footer:hover {
    border-bottom: 1px solid var(--cor1);
    color: var(--cor1);
    transition: 0.5s;
}