@charset "UTF-8";

@font-face {
    font-family: designer;
    src: url('../mídias/designer/DESIGNER.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-destaque: designer;
    --font-padrao: 'Tilt Neon', sans-serif;
    --font-titulo: 'Exo 2', sans-serif;
    --font-secundaria: 'Yellowtail', cursive;

    --corTextos: #cfd8f5;
    --corClara: #ecedff ;
    --corNav: #0000009f;
    --cor1: #000066;
    --cor2: #e71a3b;
    --cor3: #f7a7a7;;
    --cor4: #011250;
}

@media (max-width: 1200px) {
    
}

       /*  */

@media (max-width: 530px) {
    .cntt {
        margin-left: -50px;
        margin-top: -65px;
    }

    .title-cntt {        
        color: whitesmoke;
    }

    .pag1 {
        margin-left: -50px;
    }

    .txt-pag1 {
        #text {
            font-size: 30px;
        }
    }

    .txt-pag1 strong {
        font-size: 30px;
    }
}

       /*  */

@media (max-width: 1000px) {
    nav .menu-btn i {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: var(--cor1);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    nav ul.open {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 23px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #f7e9c5;
    }
}