@charset "UTF-8";

@font-face {
    font-family: designer;
    src: url(../mídias/designer/DESIGNER.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-destaque: designer;
    --font-padrao: 'Tilt Neon', sans-serif;

    --corTextos: #cad6ff;
    --cor1: #000066;
    --cor2: #E71A3B;
    --corNav: #0000009f;
    --cor4: #3636c7;
}

.background {
    background-image: url('../midias/fundo-site.jpeg');
    background-position: center;
    background-size: cover;
    height: 700px;
    margin-top: -80px;
}

.pag1 {
    display: flex;
}

.pag1 p{
    margin-top: 400px;
}

.txt-pag1 {
    margin-left: 420px;
    font-family: var(--font-padrao);
    font-size: 40px;
    width: 350px;
    color: var(--corTextos);
}

.pag2 {
    border-top: 50px solid #03036dc7;
    background-image: linear-gradient(to bottom, #00008a, #151575, #000066);
    height: 300px;
}

.titulo-pag2 {
    font-family: 'Abril Fatface', serif;
    font-size: 65px;
    margin-left: 30px;
    color: var(--corTextos);
}