@charset "UTF-8";


:root {
    --corTextos: #462c1a;
    --cor1: #704D34;
    --cor2: #AE9A63;
    --corPadrao: #ffffff;
    --cor4: #AD79AD;
    --cor5: #694369;
    --cor6: #614461;

    --font-Padrao: 'Roboto', sans-serif;
    --font-Destaque: 'Great Vibes', cursive;
    --font-Titulos: 'Hind Siliguri', sans-serif;
}

body{
    position: relative;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
}

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

.nav-bar {
    background: var(--cor1);
    height: 100px;
    max-width: 100%;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 10px 10px;
}

/* .imgFundo-pag1 {
    background-image: url('imagens/fundo.jpg');
    background-repeat: no-repeat;
} */

#logo-nav {
    height: 80px;
    width: 80px;
    background: fixed;
    border-radius: 0px 10px 0px 10px;
}

.ul-navegacao {
    margin-left: 500px;
    align-items: center;
}

.div-li {
    display: flex;
    padding-right: 76px;
}

.li-navegacao {
    font-family: var(--font-Padrao);
    font-size: 1.3em;
    margin-left: 80px;
    margin-right: 15px;
}

.link-nav {
    color: var(--cor2);
    text-decoration: none;
    padding-left: 10px;
}

.link-nav:hover {
    color: #ffd694;
    transition: 0.15s;
}
