@charset "UTF-8";


:root {
    --corTextos: #462c1a;
    --cor1: #704D34;
    --cor2: #AE9A63;
    --corPadrao: #ffffff;
    --cor4: #AD79AD;
    --cor5: #694369;
    --cor6: #614461;

    --font-Padrao: 'Roboto', sans-serif;
    --font-Destaque: 'Great Vibes', cursive;
    --font-Titulos: 'Hind Siliguri', sans-serif;
}

body{
    position: relative;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
}

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--cor1);
}

.link-txt-nav:hover {
    text-decoration: underline;
}

.txt-nav {
    background-color: var(--cor2);
    color: var(--corTextos);
    font-family: var(--font-Titulos);
    text-align: center;
    letter-spacing: 2px;
}

.nav-bar {
    background: var(--cor1);
    height: 100px;
    max-width: 2000px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 10px 10px;
}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

#logo-nav {
    height: 80px;
    width: 80px;
    background: fixed;
    border-radius: 0px 10px 0px 10px;
}

.ul-navegacao {
    margin-left: 500px;
    align-items: center;
}

.div-li {
    display: flex;
    padding-right: 76px;
}

.li-navegacao {
    font-family: var(--font-Padrao);
    font-size: 1.3em;
    margin-left: 80px;
    margin-right: 15px;
}

.link-nav {
    color: var(--cor2);
    text-decoration: none;
    padding-left: 10px;
}

.link-nav:hover {
    color: #ffd694;
    transition: 0.15s;
}

/* .link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--cor2);
    transition: all 0.5s;
}

.link-nav:hover::after {
    width: 100%;
    transform: translateX(10%);
} */