@charset "UTF-8";

body {
    margin: 0px;
    background-color: gray;
}

ul {
    list-style: none;
    display: flex;
}

nav {
    display: flex;
}

#logo-nav {
    height: 80px;
    width: 80px;
    background: fixed;
    border-radius: 0px 10px 0px 10px;
}

.nav-bar {
    background: rgb(250, 125, 250);
    height: 80px;
    width: 100%;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.315);
    border-radius: 0px 0px 10px 10px;
}
