@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

:root {
    --corTextos: #462c1a;
    --cor1: #704D34;
    --cor2: #AE9A63;
    --corPadrao: #fdf5e5;
    --cor4: #AD79AD;
    --cor5: #694369;
    --cor6: #614461;

    --font-Padrao: 'Open Sans', sans-serif;
    --font-Destaque: 'Great Vibes', cursive;
    --font-Titulos: 'Hind Siliguri', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

.pag1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.titulo-pag1 {
    font-family: var(--font-Destaque);
    font-size: 7em;
    color: var(--corTextos);
    margin: 200px 100px;
}

.texto-pag1 {
    font-family: var(--font-Padrao);
    font-size: 2.0em;
    font-weight: 500;
    color: var(--corTextos);
    max-width: 600px;
}

.pag2 {
    background-color: white;
}

.pag2:hover {
    .div-texto2 {
        width: 700px;
        transition: 0.2s;
    }
}

.div-texto2:not(:hover) {
    width: 500px;
    transition: 0.4s;
}

.div-texto2 {
    width: 500px;
    margin: auto;
}

.titulo-pag2 {
    font-size: 30px;
    font-family: var(--font-Titulos);
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--corTextos);
    padding: 20px;
    text-align: center;
    border-top: 2px solid var(--cor2);
}

.bloco-img-1 {
    display: flex;
    gap: 100px;
    margin-left: 10%;
    margin-right: 5%;
}

.imagens1-pag2 {
    width: 90%;
    gap: 100px;
    display: flex;
}

#img1 {
    background-image: url('imagens/produto-cupcake.jpeg');
}

#img2 {
    background-image: url('imagens/produto-naked-cake.jpg');
}

#img3 {
    background-image: url('imagens/produto-mini-bolo.jpeg');
}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 15px 0px 25px 0px;
    background-color: darkcyan;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagem:hover {
    .txt-produtos {
        background-color: var(--cor1);
        color: var(--cor2);
        transition: 0.5s;
        letter-spacing: 10px;
    }
}

.imagem:not(:hover) {
    .txt-produtos {
        letter-spacing: 2px;
        transition: 0.4s;
    }
}

.imagem:hover {
    #bolo-encomendado {
        letter-spacing: 6px;
        text-indent: 0px;
    }

    #bolo-confeitado {
        letter-spacing: 10px;
        text-indent: 0px;
    }
}

.txt-produtos {
    text-align: center;
    margin-top: 200px;
    padding: 10px;
    margin-left: -55px;
    /* margin-right: -35px; */
    border-radius: 5px 0px 0px 20px;
    background-color: var(--corPadrao);
    color: var(--corTextos);
    font-family: var(--font-Titulos);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 50px;
}

#bolo-encomendado {
    text-align: right;
}

#bolo-confeitado {
    text-indent: 50px;
}

.bloco-img-2 {
    display: flex;
    gap: 100px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 60px;
}

.imagens2-pag2 {
    width: 90%;
    gap: 100px;
    display: flex;
}

#img4 {
    background-image: url('imagens/fran_cakes-bolo-confeitado.jpeg');
}

#img5 {
    background-image: url('imagens/fran_cakes-bolo-enconmendado.jpeg');
}

#img6 {
    background-image: url('imagens/fran_cakes-torta.jpg');
    background-position: right;
}

.pag3 {
    margin-top: 100px;
}

.pag3:hover {
    .titulo-pag3 {
        width: 700px;
        transition: 0.2s;
    }
}

.titulo-pag3:not(:hover) {
    width: 500px;
    transition: 0.4s;
}

.titulo-pag3 {
    margin: auto;
    width: 500px;
    font-size: 30px;
    font-family: var(--font-Titulos);
    font-weight: normal;
    letter-spacing: 1px;
    color: var(--corTextos);
    padding: 20px;
    text-align: center;
    border-top: 2px solid var(--cor2);
}

#txt-contato {
    font-family: var(--font-Padrao);
    font-size: 2.0em;
    font-weight: 300;
    color: var(--corTextos);
    max-width: 600px;
    text-wrap: balance;
    margin-left: 8%;
    margin-top: 40px;
}

.img-contato {
    margin-top: 30px;
    margin-left: 30px;
    width: 180px;
}