@charset "UTF-8";

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow: scroll;
    scroll-behavior: smooth;
    font-size: 18px;
    background-color: #D99B29;
}

nav {
    display: row;
}

.navbar {
    text-align: right;
}

.linkNav {

    
}